#info {
  font-size: 3vh;
  line-height: 4vh;
  padding-left: 4vw;
  padding-right: 3vw;
  padding-top: 3vh;
}
.sideglyph {
  margin-top: 4vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
}
#sidebar {
  left: 75vw;
}
.main {
  padding-top: 2vh;
}
.side {
  border: none !important;
  padding-top: 3vh;
  line-height: 2.5vh !important;
  cursor: default !important;
}
#linkedin, #github, #instagram {
  cursor: pointer;
}
#scs {
  display: inline !important;
}
img {
  height: 10vh;
  margin-right: 1vw;
  vertical-align: bottom;
  border: 1px solid black;
  border-radius: 50%;
}
h1 {
  font-size: 6vh;
}
hr {
  border-top: 1px solid black;
}
#name {
  display: inline-block;
}
#mypic:hover {
  width: auto;
  height: 90vh;
  -webkit-transition-property: height, width;
  -webkit-transition-duration: 5s;
}
#mypic {
  -webkit-transition-property: height, width;
  -webkit-transition-duration: 5s;
}
