.info {
  z-index: 1000;
  cursor: pointer;
  position: absolute;
  font-size: 4vw;
  top: 6vh;
  opacity: .8;
  color: white;
}
.glyphicon-question-sign {
  right: 8vw;
}
.glyphicon-menu-hamburger {
  right: 3vw;
}

li {
  background-color: white;
}

body {
  background-color: rgba(26,26,26,0.85);
  position: relative;
}
#ontop {
  position: relative;
}
#sidebar {
  z-index: 1000000;
  position: absolute;
  top: 0;
}
#loading {
  z-index: 1000000;
  position: absolute;
  color: white;
}

.bigbox {
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 50vw;
}
.box a {
  text-decoration: none !important;
  color: white !important;
}
.box, .smallbox {
  display: inline-block;
  padding: 0;
  overflow: hidden;
  color: white;
  text-align: center;
  border: 0px solid white;
  font-style: italic;
  text-overflow: ellipsis;
}
.box {
  height: 50vh;
  font-size: 5vh;
  width: 25vw;
}
.box:hover {
  box-shadow: inset 5px 8px 8px rgba(0,0,0,0.15)
}
.smallbox:hover {
  box-shadow: inset 3px 5px 5px rgba(0,0,0,0.15)
}
.box .author {
  font-size: 4vh;
  font-style: normal; 
}
.smallbox {
  height: 25vh;
  font-size: 3vh;
}
.smallbox .author {
  font-size: 2vh;
}
.insta {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

#what-is-this {
  background-color: rgba(256,256,256,0.8);
  margin-left: auto;
  margin-right: auto;
  left: 36vw;
  top: 36vh;
  padding: 2vw;
  position: absolute;
  font-size: 3vw;
  z-index: 100000;
}

.scrollingHotSpotRight, .scrollingHotSpotLeft {
  width: 20%;
  font-size: 10vh;
  padding-top: 45vh; 
  padding-right: 1vw;
  padding-left: 1vw;
  color: rgba(256,256,256,0.8);
}

audio {
  width: 100%;
}
