#refresh {
  left: 3vw;
  top: 6vh; 
  font-size: 4vw;
  position: absolute;
  opacity: .8;
  cursor: pointer;
  z-index: 1000;
  color: white;
}
#menu {
  right: 3vw;
  top: 6vh; 
  font-size: 4vw;
  position: absolute;
  opacity: .8;
  cursor: pointer;
  z-index: 1000;
  color: white;
}

li {
  background-color: white;
}

body {
  background-color: rgba(26,26,26,0.85);
}

#ontop {
  position: absolute;
  width: 100%;
}
.box, .smallbox {
  display: inline-block;
  padding: 0;
  overflow: hidden;
  color: white;
  text-align: center;
  border: 1px solid white;
  font-style: italic;
}
.box {
  height: 50vh;
  font-size: 5vh;
}
.box .author {
  font-size: 4vh;
  font-style: normal; 
}
.smallbox {
  height: 25vh;
  font-size: 3vh;
}
.smallbox .author {
  font-size: 2vh;
}
.insta {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
