body {
  overflow: hidden;
}

#top_banner {
  height: 62vh;
}

#title {
  font-size: 8vh;
  padding-left: 15vw;
  padding-top: 10vh;
}
#sidebar {
  height: 100%;
  padding-top: 6vh;
  color: black;
}
#sidebar li {
  line-height: 8vh;
  list-style: none;
  border: 0 solid black;
  border-bottom-width:1px;
  cursor: pointer;
}
/*
#sidebar li:hover {
  background-color: white;
}
*/
#sidebar .nav {
  width: 95%;
}
#sidebar a {
  padding-left: 1vw;
  color: inherit;
  text-decoration: none;
  display: block;
}

#navbar {
  height: 18vh;
  opacity: 0.8;
  font-size: 28px;
  padding-right: 200px;
  padding-left: 15vw;
  background-image: url("https://scontent-iad3-1.xx.fbcdn.net/hphotos-xat1/v/l/t1.0-9/11391253_1018770854807621_8363171317753702255_n.jpg?oh=6ddca43e0b184c5065fb3dc90970ab6b&oe=55E8AF23");
}

#quotebar {
  margin-top: 3vh;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  /*
  padding-left: 15vw;
  padding-right: 15vw;
  */
}
